<!DOCTYPE html>
<html>

<head>
  <title>Message Board</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <% messages.forEach(message => { %>
  <h3><%= message.text %> ><%= message.user %> ><%= message.added %></h3>
  });
  <% }) %>
</body>

</html>